.logo {
  width: 60px;
}

.loginBlock a {
  color: #ffffff;
}

.userName {
  color: #ffffff;
}

.userName {
  display: block;
  max-width: 150px; 
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap
}

@media (max-width: 600px) {
  .header {
    padding-top: 15px !important;
  }

  .headerLinksList {
    padding: 15px 0;
  }

  .logoWrapper,
  .headerLinksWrapper,
  .loginBlockWrapper {
    flex-basis: 100% !important;
  }
  
  .headerLinksList,
  .logoWrapper,
  .loginBlockRow {
    display: flex;
    justify-content: center;
  }
}