.header {
  grid-area: header;
  padding: 10px 20px;
  background-color: #328032;
}

.logo {
  width: 60px;
}

.userPhoto {
  width: 60px;
  height: 60px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: #ffffff;
}

.userPhoto {
  border-radius: 50%;
}