.formControll.error input,
.formControll.error textarea {
    border: 1px solid red;
}

.formControll.error span {
    display: block;
    color: red;
}

.formSummaryError {
    padding: 5px;
    color: #db5d5d;
    border: 1px solid rgb(231, 104, 19);
}