.nav {
  grid-area: nav;
  padding: 10px 20px;
  background-color: #328032;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item a,
.users_link {
  display: block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.item a.active,
.users_link.active {
  color: gold;
}